body{
    font-family: "Poppins", sans-serif;   
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
    padding-top: 10%;
    margin-bottom: 50px;
}
.half-width img{
    width: 100%;
}
#second-photo{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(253, 113, 89));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(developer.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
#prob-sol-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(orange,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input{
    height: 64px;
}

.contact a{
    text-decoration: none;
}
.text-exp{
    text-indent: 6%;
}